* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

:root {
  font-family: "Fuzzy Bubbles";
  font-size: 14px;
  --color-pink-dark: 240, 7, 123;
  --color-pink: 244, 161, 181;
  --color-black: 40, 25, 22;
  --color-egyptian-gray: 239, 236, 226;
  --color-white: 255, 255, 255;
}

button {
  cursor: pointer;
}
